# test requirements
boto3
mock
pytest
pytest-cov
tox

# We need to install this layer to be able to test it
-e .

# The dev version of humilis
git+https://github.com/humilis/humilis

# Supporting layers to run the integration test suite
git+https://github.com/humilis/humilis-streams
git+https://github.com/humilis/humilis-kinesis-processor.git
