---
resources:
    {# The DynamoDB table #}
    SecretsTable:
      Type: "AWS::DynamoDB::Table"
      Properties:
        AttributeDefinitions:
          - AttributeName: id 
            AttributeType: S
        KeySchema:
          - AttributeName: id 
            KeyType: HASH
        ProvisionedThroughput:
          ReadCapacityUnits: {{dynamodb_capacity.read}}
          WriteCapacityUnits: {{dynamodb_capacity.write}}
        {% if _env.stage %}
        TableName: {{_env.name}}-{{_env.stage}}-secrets
        {% else %}
        TableName: {{_env.name}}-secrets
        {% endif %}
    {# The KMS key used for encryption #}
    KmsKey:
      Type: "AWS::KMS::Key"
      Properties:
        Description: Gives access to the secrets vault in DynamoDB
        KeyPolicy:
          Version: "2012-10-17"
          Statement:
            - Sid: Enable IAM User Permissions 
              Effect: Allow
              Principal:
                AWS:
                  "Fn::Join":
                      - ""
                      -
                          - "arn:aws:iam:"
                          - ":"
                          - Ref: "AWS::AccountId"
                          - ":"
                          - "root"
              Action: "kms:*"
              Resource: "*"
            - Sid: Allow access for Key Administrators
              Effect: Allow
              Principal:
                AWS:
                  - "Fn::Join":
                      - ""
                      -
                          - "arn:aws:iam:"
                          - ":"
                          - Ref: "AWS::AccountId"
                          - ":"
                          - "{{key_admin}}"
            - Sid: Allow use of the key
              Effect: Allow
              Principal:
                AWS: 
                  {% for proc in lambda_processors %}
                  - {{proc}}
                  {% endfor %}
              Action:
                - "kms:Encrypt"
                - "kms:Decrypt"
                - "kms:ReEncrypt*"
                - "kms:GenerateDataKey*"
                - "kms:DescribeKey"
              Resource: "*"
